/* RESET DEFAULT CSS */
*{
  outline: none;
  text-decoration: none;
}
/* BODY STYLE */
body {
  margin: 0;
  font-family: cursive;
}
/* HEADING */
h1 {
  text-align: center;
}
/* MAIN CONTAINER */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* COLOR DIV */
.color-container {
  background-color: #cfcfcf;
  width: 280px;
  height: 170px;
  color: white;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}